@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    background-color: olivedrab;
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#column1 {
    min-width: 220px;
    flex: 1;
    order: 1;
}

#column2 {
    min-width: 450px;
    flex: 3;
    order: 2;
}

article {
    background-color: white;
    padding: 0.5em;
    margin: 1em;
    border-radius: 10px;
    overflow: auto;
}

.banner {
    color: white;
    background-color: darkolivegreen;
    padding: 0.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h2 {
    padding-top: 1em;
}

a {
    text-decoration: none;
}

.post_links {
    font-size: 0.8em;
    font-weight: bold;
    margin-right: 2em;
    margin-bottom: 0.75em;
}

.post {
    padding: 1em;
    overflow: auto;
}

.post_links a, a:link, a:active, a:visited {
    color: darkolivegreen;
}

.post_links:hover {
    color: #C50000;
}

li {
    margin-left: 2em;
}

.basic_search {
    padding: 0.5em;
    display: flex;
}

.basic_searchField {
    width: 100%;
    border-radius: 3px;
    margin-right: 5px;
}

table {
    border-collapse: collapse;
    font-size: 0.8em;
    width: 100%;
}

th {
    background-color: lightgrey;
}

td, th {
    padding: 0.5em;
    border: 1px solid black;
    white-space: nowrap;
}

input {
    width: 90%
}

figure {
    padding: 0.5em 0em 0.5em 0em;
    display: flex;
    justify-content: center;
}

figure img {
    max-height: 500px;
    max-width: 100%;
}

.message {
    font-style: italic;
    color: red;
}

.node_online {
    background-color: lightgreen;
}

.node_offline {
    background-color: lightpink;
}

#map {
    height: 500px;
}

.filter_row {
    background-color: rgb(102,204,187);
    padding: 0.5em;
    margin: 1em;
    font-weight: bold;
    font-size: .9em;
}

.filter_row2 {
    background-color: lightgreen;
    padding: 0.5em;
    margin: 0.1em;
    font-weight: bold;
    font-size: .9em;
}

.sync_required {
    color: red;
    font-weight: bold;
}